doctype html
html(lang="en")
  head
    link(rel='icon' href='/public/images/sun.jpg' type="image/x-icon")
    title= title
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel="icon" href="../public/images/sun.png")
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel="stylesheet", type="text/css", href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav#navbar-default My Website!
    div.container-fluid
      block content
    