body {  
  padding: 0;
  background-size: 1500px 1100px;
  margin: 0px;
  font-family: 'Lato', sans-serif;
}

table#empTable{
  margin: 40px;
  width:50px

}

.topnav {
  overflow: hidden;
  background-color: #333;
}
a#signout{
  float:right;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

h1#dash{
  text-align: center;
  text-transform: capitalize;
  color: #04AA6D;
  font-family: Segoe UI;

}
a#in{
  text-align: center;
}
a#edit{
    background-color: #3498db;
    
}
th{
  text-align: center;
}
div#demo{
  width: 10px;
}
nav{
  background-color: #3c86e771;
  color: #ff6b27;
  padding: 20px;
  font-size: 20px;
}

#main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#btn:hover{
  border-left: 5px solid blue;
  border-right: 5px solid blue;
}
form {
  background-color: rgba(16, 86, 129, 0.63);
  width: 40%;
  padding: 30px;
}
.username input,
.password input,
.phonenumber input,
.email input{
  width: 100%;
  height: 40px;
  border: 0px;
  margin: 5px 5px 15px;
  box-sizing: border-box;
  padding: 15px 15px;
}

input:focus,
button:focus {
  outline: none;
}

button {
  background: #30ebc2;
  color: #fff;
  border: 0px;
  width: 90%;
  padding: 10px;
  margin: 5px;
  font-size: 24px;
  cursor: pointer;
}

.checkbox {
  color: #fff;
  padding-bottom: 10px;
}

h3 {
  font-size: 24px;
  text-align: center;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 10px;
}

p {
  text-align: center;
  color: #fff;
  text-transform: capitalize;
}

.social {
  display: flex;
  justify-content: center;
}

.social button {
  display: flex;
  width: 30px;
  padding: 5px;
  background-color: transparent;
  justify-content: center;
  text-transform: capitalize;
}

.social button:nth-child(1) {
  background-color: #3498db;
}

.social button:nth-child(2) {
  background-color: #e74c3c;
}

.fa {
  float: left;
  font-size: 18px;
}
a {
  padding-left: 5px;
  text-decoration: none;
  color: #ff6b27;
  text-transform: capitalize;
}

a:hover {
  text-decoration: underline;
  color: rgb(42, 143, 252);
}

.label {
  font-size: 40px;
  text-align: center;
  color: #fff;
  padding-bottom: 15px;
  text-transform: capitalize;
}

@media(max-width:610px) {
  form {
    width: 60%;
  }

  button {
    padding: 50px;
  }
}

@media(max-width:420px) {
  form {
    width: 70%;
  }

  h3 {
    margin: 10px;
  }
}
